{% use 'tailwind_2_layout.html.twig' %}

{% block form_row %}
    {% set row_class = row_class|default('block mt-4') %}
    {{ parent() }}
{% endblock %}

{% block form_label %}
    {% set label_class = label_class|default('text-secondary font-bold text-md') %}
    {{ parent() }}
{% endblock  %}

{% block form_widget %}
    {% set widget_class = widget_class|default('rounded border border-secondary w-full py-1 px-2') %}
    {{ parent() }}
{% endblock  %}

{% block form_help %}
    {% set help_class = widget_class|default('rounded border w-full py-1 px-2') %}
    {{ parent() }}
{% endblock  %}

{% block form_errors %}
    <ul>
        {% for error in errors %}
            <li class="text-red">{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endblock %}
