{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-3xl mb-3">Please sign in</h1>
        <label class="text-xl" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
               class="form-control min-w-full p-2"
               autocomplete="email" required autofocus>
        <label class="text-xl" for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword"
               class="form-control min-w-full p-2" autocomplete="current-password"
               required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button
                class="bg-button px-4 py-2 rounded mt-2 text-button-text"
                type="submit">
            Sign in
        </button>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
