{# TODO make this component: https://symfony.com/bundles/ux-twig-component/current/index.html #}
<div>
    <div class="block p-6 max-w-sm rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
        <img src="{{ asset('uploads/images/'~blogPost.headImage) }}"
             class="rounded-lg my-2 w-96"
             alt="blog-image"/>
        <h5 class="mb-2 text-2xl text-headline font-bold tracking-tight text-gray-900">
            {{ blogPost.title }}
        </h5>
        <h5 class="text-secondary text-xl tracking-tight text-gray-900">
            {{ blogPost.subtitle }}
        </h5>
        <h5 class="mb-2 text-paragraph tracking-tight text-gray-900">
            Created on {{ blogPost.createdOn.format('d-m-Y') }}
        </h5>
        <p class="font-normal text-paragraph py-1">
            {{ blogPost.content }}
        </p>
        {% block functionality %}
        {% endblock %}
        <a class="p-1 " href="/blogs/{{ blogPost.id }}">Read more...</a>
    </div>
</div>