{% extends 'base.html.twig' %}
{% block body %}
    <div class="shadow-md m-auto text-headline p-5 rounded-md">
        <h1 class="text-xl font-bold py-2">Create Post</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.subtitle) }}
        {{ form_row(form.content) }}
        {{ form_row(form.headImage) }}
        {{ form_row(form.extraImages) }}
        {{ form_row(form.save)}}

        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
