{% extends 'base.html.twig' %}

{% block title %} {{ blog_post.title }}{% endblock %}
{% block body %}

    <div class="container my-2 mx-auto flex">
        <div class="mx-auto">
            <h1 class="text-4xl font-bold capitalize text-headline">{{ blog_post.title }}</h1>
            <h1 class="text-2xl py-2 capitalize text-secondary">{{ blog_post.subtitle }}</h1>
            <h2 class="py-2">Created by: {{ blog_post.createdBy.fullName }}</h2>
            <div class="flex items-end">
                <img src="{{ asset('uploads/images/'~blog_post.headImage) }}"
                     class="rounded-lg my-2 h-48 p-1"
                     alt="blog-image"/>
                {% if blog_post.extraImages is not empty %}
                    {% for item in blog_post.extraImages %}
                        <img src="{{ asset('uploads/images/'~item) }}"
                             class="border border-secondary  rounded-lg my-2 h-44 mx-1"
                             alt="blog-image"/>
                    {% endfor %}
                {% endif %}
            </div>
            <p class="leading-6 capitalize py-2 text-paragraph">
                {{ blog_post.content }}
            </p>
        </div>
    </div>

{% endblock %}