<div class="p-2">
    <div class="block p-6 max-w-sm rounded-lg border border-secondary shadow-md hover:bg-gray-100">
        <img src="{{ asset('uploads/images/'~blogPost.headImage) }}"
             class="rounded-lg my-2 w-96"
             alt="blog-image"/>
        <h5 class="mb-2 text-2xl text-headline font-bold tracking-tight text-gray-900">
            {{ blogPost.title }}
        </h5>
        <h5 class="text-secondary text-xl tracking-tight text-gray-900">
            {{ blogPost.subtitle }}
        </h5>
        <h5 class="mb-2 text-paragraph tracking-tight text-gray-900">
            Created on {{ blogPost.createdOn.format('d-m-Y') }}
        </h5>
        <p class="font-normal text-paragraph py-1">
            {{ blogPost.content }}
        </p>
        <div class="flex justify-between items-end">
            <a class="p-1 my-auto " href="/blogs/{{ blogPost.id }}">Read more...</a>
            <div class="flex flex-col">
                {% if enableEdit %}
                    <a href="{{ path('blogEdit', {id: blogPost.id}) }}"
                       class="py-2 px-5 bg-button mx-auto text-button-text rounded">Edit</a>
                {% endif %}
                {% if enableDelete %}
                    <form method="post" action="{{ path('deleteBlogById', {id: blogPost.id}) }}">
                        <button type="submit"
                                class="my-2 py-2 px-5 mx-auto text-button rounded">Delete
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>